* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body{
    background: linear-gradient(180deg, rgba(255,255,255,1) 1%, rgba(255,250,242,1) 50%, rgba(255,250,242,1) 65%,
     rgba(252,204,173,1) 84%, rgba(251,185,144,1) 100%);
}
body{
    header{
        nav{
            .bg-color-propio{
                background-color:white;
            }
            .nav-item a{
                font-size:xx-large;
                color:black;
            }
            .navbar-nav .nav-item a:hover{
                color:#2C8AA0;
                font-weight: bold;
            }
        }
      }
      #footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#CE5C16;
        height: 80px;
        margin-top: 10px;
        width: 100%;
       }
    
     a {
        margin-left: 10px;
        margin-right: 10px;
        }  
}  


body{
  .gridConteinerIndex{
    display:grid;
    grid-template-areas: "header"
                          "main"
                          "footer";
    grid-template-rows: 200px 1000px 50px;
    gap: 5px;  
    align-items: center;
  }
   


.MainInicio{
    p{
    min-height: 200px;
    display: flex;
    justify-content:center;
    align-items:center;
    padding-left: 5px;
    font-size: 70px;
    color:black;
    font-weight: bold;
    animation-name: aparecer;
    animation-duration: 7s;
    animation-iteration-count:infinite
   }
 @keyframes aparecer{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
 }
}

/* APLICO MEDIAQUERIE EN INDEX PARA VISTA MOBILE*/
@media(max-width:768px){
    .MainInicio{
        p{
        min-height: 100px;
        display: flex;
        flex-flow: column wrap;
        justify-content:center;
        align-items: center;
        align-content: center;
        font-size: 5vh;
        color:black;
        font-weight: bold;
    }
    }
}
/* HASTA ACÁ INDEX*/

/*PAGINA NOSOTRAS*/

body{
 .gridConteinerNosotras{
    display:grid;
    grid-template-areas: "header"
                          "main"
                          "footer";
    grid-template-rows: 200px 1100px 50px;
    gap: 5px;  
    align-items: center; 
  }
  #mainNosotras{
    display:grid;
    grid-template-columns:2fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 6px;
    grid-row-gap: 10px;
    padding-left: 90px;
    padding-right: 90px;
    }
  .mainNosotras__foto1,
  .mainNosotras__foto2{
    width:500px;
  }
  .mainNosotras__foto1,
  .mainNosotras__foto2:hover{
    filter: grayscale(100%);
 }

   #mainNosotras span{
    font-weight: bold;
  }
}
 


/* APLICO MEDIAQUERIE EN SOBRE NOSOTRAS PARA VISTA MOBILE*/

@media(max-width:768px){
    .gridConteinerNosotras{
        display:grid;
        grid-template-areas: "header"
                              "main"
                              "footer";
        grid-template-rows: 200px 2100px 50px;
        gap: 5px;  
        align-items: center; 
        #mainNosotras{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            justify-items: center;
        }
    
        .mainNosotras__foto1,
        .mainNosotras__foto2{
             width:80%;
    }
  } 

}    

/* HASTA ACÁ NOSOTRAS*/

/*PAGINA MUSICA*/

body{
    .gridConteinerMusica{
        display:grid;
    grid-template-areas: "header"
                          "main"
                          "footer";
    grid-template-rows: 200px 800px 50px;
    gap: 5px;  
    align-items: center;
    }
    #mainMusica{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 20px;
        align-items: center;
    }
    h1{
        text-align: left;
        margin-bottom: 20px;
    }
}
/*APLICO MEDIAQUERIES EN MUSICA PARA VISTA MOBILE*/
@media(max-width:768px){
   
    .gridConteinerMusica{
        display:grid;
        grid-template-areas: "header"
                              "main"
                              "footer";
        grid-template-rows: 200px 800px 50px;
        gap: 5px;  
        align-items: center;
        padding-left: 5px; 
        padding-right: 5px;
    }
    #mainMusica{
        width: 100%;
    }
} 

/* HASTA ACA MUSICA*/

/*AGENDA*/

body{
    .gridConteinerAgenda{
        display:grid;
        grid-template-areas: "header"
                              "main"
                              "footer";
        grid-template-rows: 200px 700px 50px;
        gap: 5px;  
        align-items: center; 
    }
    #mainAgenda{
        padding-left: 90px;
        padding-right: 90px;
        h1{
            text-align: left;
            margin-bottom: 20px;
        }
        .mainAgenda__cartelera{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows:3fr 1fr;
            grid-column-gap: 9px;
            grid-row-gap: 0px;
            padding-left: 50px;
            padding-right: 50px;
        }
        
}

/*APLICO MEDIAQUERIES EN AGENDA PARA VISTA MOBILE*/
@media(max-width:768px){

    .gridConteinerAgenda{
        display:grid;
        grid-template-areas: "header"
                              "main"
                              "footer";
        grid-template-rows: 200px 2000px 50px;
        row-gap: 5px;  
        align-items: center; 
  
    .mainAgenda__cartelera{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 0;
    }
     .carteleraItem{
        width: 100%;
        margin-bottom: 5px;
    }
  }
}
/* HASTA ACA AGENDA*/

/*CONTACTO*/
body{
    .gridConteinerContacto{
        display:grid;
        grid-template-areas: "header"
                              "main"
                              "footer";
        grid-template-rows: 200px 700px 50px;
        gap: 5px;  
        align-items: center; 
    }
    #mainContact{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 400px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        padding-left: 90px;
        padding-right: 90px;
        gap:60px;
        margin-bottom: 20px;
    }
    .p1{
        font-size: large;
    } 
    .p2{
        font-size: large;
        color:#2C8AA0;
    }
    .mainContact__form{
        background-color:#E6C693;
    }

}
/*APLICO MEDIAQUERIES EN CONTACTO PARA VISTA MOBILE*/
@media(max-width:768px){
    .gridConteinerContacto{
        display:grid;
        grid-template-areas: "header"
                              "main"
                              "footer";
        grid-template-rows: 200px 800px 50px;
        gap: 5px;  
        align-items: center; 
    }
    #mainContact{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
    }

    .mainContact__form{
        width: 100%;
    }
}